<h1>Review</h1>
<p>Find me in app/views/comments/new.html.erb</p>
<p>Your review will be posted publicly on the web</p>
<p>Comment for <%=@sight.name %></p>
<%= form_for [@country,@sight, @comment] do |f| %>
<%= f.label :content,"Review" %>
<%=f.text_area :content, :rows => 4, :class =>'form-control',:required => true%>
<%= f.submit 'Post'  %>
<% end %>
