

<h1><%= @sight.name %> in <%= @sight.location %>, <%= @sight.country.name %></h1>
<%= image_tag(@sight.image, :class=>'feature') %>
Category:<%= @sight.category %>
<p class="lead"><%= @sight.info %></p>
<% if @sight.comments.any? %>
  <h3>Review
  </h3>
  <% @sight.comments.each do |c| %>
    <p><%= c.created_at %></p>
    <p><%= c.user.name %>
      :
      <%= c.content %>
    </p>
  <% end %>
  <% end %>

  <p><%= link_to 'Add Commment',new_country_sight_comment_path(@sight.country_id,@sight) %></p>
  <% if @current_user.admin? %>
    <%= link_to "Edit",edit_country_sight_path(@sight.country_id,@sight),:class=>'btn btn-primary' %>
    <%= link_to "Delete",[@sight.country,@sight],:class=>'btn btn-primary',:method =>'delete', :data => {:comfirm => "Are you sure?"} %>
    <% end %>





    <% @current_user.triplists.each do |list| %>
    <li>Your triplist: <%= list.name %>
    <%= link_to 'Add', triplist_add_path(@current_user,list,params[:id]) %>
    <%= link_to 'Delete',triplist_remove_path(@current_user,list, params[:id]),:method => 'delete' %>
    </li>
    <% end %>
