<% if @current_user.present? %>

  <h1><%= @country.name %></h1>

  <div class="row">

    <% @country.sights.each do |sight| %>
      <div class="col-md-4">
        <a class="thumbnail">
          <img src="<%= sight.image %>" alt="<%= sight.name %>"></a>
        <p><%= sight.info %></p>
        <% if sight.comments.any? %>
          <h3>Review
          </h3>
          <% sight.comments.each do |c| %>
            <p><%= c.created_at %></p>
            <p><%= c.user.name %>
              :
              <%= c.content %>
            </p>
          <% end %>
        <% end %>
        <div class="btn-group" role="group">
          <p><%= link_to 'Add Commment',new_country_sight_comment_path(@country,sight) %></p>
          <% if @current_user.admin? %>
            <%= link_to "Edit",edit_country_sight_path(@country,sight),:class=>'btn btn-primary' %>
            <%= link_to "Delete",[@country,sight],:class=>'btn btn-primary',:method =>'delete', :data => {:comfirm => "Are you sure?"} %>
          <% end %>

          <%= link_to "Read more", country_sight_path(@country,sight), :class=>"btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-4">
      <%= link_to(image_tag('http://www.clker.com/cliparts/J/N/5/l/n/k/add-button-blue-hi.png',:class => 'thumb1'),new_country_sight_path(@country)) %>



    </div>

  </div>
<% end %>
